@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --blue: #345ff6;
  --black: #253347;
  --slate: #5e6e85;
  --gray: #d8e2e7;
}

#root {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.text-blue {
  color: var(--blue);
}

.text-black {
  color: var(--black);
}

.text-gray {
  color: var(--gray);
}

.text-slate {
  color: var(--slate);
}
